<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Guruhlar Darslari ro'yhati</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/base.css" th:href="@{/css/base.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
</head>
<body>


<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto sidebar px-0">
            <div id="sidebar" class=" collapse collapse-horizontal show border-end">
                <a class="mx-3 d-flex" href="#" style="text-decoration: none">Sifatli ta'lim</a>
                <div id="sidebar-nav" class=" list-group border-0 rounded-0 text-sm-start min-vh-100">
                    <a th:href="@{/dashboard}" href="/dashboard"
                       class="list-group-item border-end-0 d-inline-block text-truncate"
                       data-bs-parent="#sidebar">
                        <i class="bi bi-house-door-fill"></i>
                        <span>Bosh sahifa</span>
                    </a>
                    <a th:href="@{/users}" href="/users"
                       class="list-group-item border-end-0 d-inline-block text-truncate"
                       data-bs-parent="#sidebar">
                        <i class="bi bi-person-square"></i>
                        <span>Userlar ro'yhati</span>
                    </a>
                    <a th:href="@{/groups}" href="/groups"
                       class="list-group-item border-end-0 d-inline-block text-truncate active"
                       data-bs-parent="#sidebar"
                    >
                        <i class="bi bi-people-fill"></i>
                        <span>Guruhlar ro'yhati</span>
                    </a>
                    <a th:href="@{/profile}" href="/profile"
                       class="list-group-item border-end-0 d-inline-block text-truncate"
                       data-bs-parent="#sidebar"
                    >
                        <i class="bi bi-person-square"></i>
                        <span>O'qituvchilar</span>
                    </a>
                    <a th:href="@{/notification}" href="/notification"
                       class="list-group-item border-end-0 d-inline-block text-truncate"
                       data-bs-parent="#sidebar"
                    >
                        <i class="bi bi-bell-fill"></i>
                        <span>Habar yuborish</span>
                    </a>
                </div>
            </div>
        </div>
        <main class="col ps-md-2 pt-2">
            <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse"
               class="border bg-light sidebar rounded-3 p-1 text-decoration-none">
                <i class="bi bi-list bi-lg py-2 p-1"></i>
                Menu
            </a>
            <hr/>
            <div class="my-3">
                <p>Darsliklar ro'yhati</p>
                <hr/>
                <div class="d-flex">
                    <div class="p-2">
                        <button class="btn btn-primary" type="button"
                                data-bs-toggle="modal"
                                data-bs-target="#exampleModal"
                        >
                            Darslik qoshish
                        </button>
                    </div>
                </div>

                <table class="table table-hover table-bordered">
                    <tr>
                        <th>Id</th>
                        <th>Guruh</th>
                        <th>Darslik raqami</th>
                        <th>Turi</th>
                        <th>Action</th>
                    </tr>
                    <th:block th:each="lesson,index:${lessonsList.content}">
                        <tr>
                            <td th:text="${index.index}+1"></td>
                            <td>
                                <a th:text="${group.name}"
                                   th:href="@{/groups/info/{groupId}(groupId=${group.groupId})}"></a>
                            </td>
                            <td th:text="${lesson.orderNumber}"></td>
                            <td>
                                <span th:if="${lesson.mediaType}=='PHOTO'">Rasm</span>
                                <span th:if="${lesson.mediaType}=='VIDEO'">Video</span>
                                <span th:if="${lesson.mediaType}=='DOCUMENT'">Document</span>
                                <span th:if="${lesson.mediaType}=='MESSAGE'">Text</span>
                                <span th:if="${lesson.mediaType}=='AUDIO'">Audio</span>
                            </td>
                            <td>
                                <div class="d-flex ">
                                    <div class="p-2">
                                        <form method="get"
                                              th:action="@{/group-lesson/delete}"
                                        >
                                            <input type="hidden" name="groupId" th:value="${group.groupId}">
                                            <input type="hidden" name="lessonId" th:value="${lesson.id}">
                                            <button class="btn btn-warning"
                                                    data-toggle="tooltip"
                                                    data-placement="top"
                                                    type="submit"
                                                    title="Darslikni ochirish "
                                            >
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </th:block>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item" th:class="${lessonsList.hasPrevious()} ? '' : 'disabled'">
                            <a class="page-link" th:if="${lessonsList.hasPrevious()}"
                               th:href="@{/group-lesson(page=${lessonsList.previousPageable().pageNumber})}">Orqaga</a>
                            <span class="page-link" th:if="!${lessonsList.hasPrevious()}">Orqaga</span>
                        </li>
                        <li class="page-item"
                            th:if="${lessonsList.totalPages} <= 1"
                            th:class="${lessonsList.number == i} ? 'active' : ''"
                            th:each="i : ${#numbers.sequence(0, 0)}"
                        >
                            <a class="page-link"
                               th:href="@{/group-lesson(page=${i})}"
                               th:text="${i}+1"></a>
                        </li>
                        <li class="page-item" th:if="${lessonsList.totalPages} > 1"
                            th:class="${lessonsList.number == i} ? 'active' : ''"
                            th:each="i : ${#numbers.sequence(0, (lessonsList.totalPages)-1)}">
                            <a class="page-link" th:href="@{/group-lesson(page=${i})}"
                               th:text="${i}+1"></a>
                        </li>
                        <li class="page-item" th:class="${lessonsList.hasNext()} ? '' : 'disabled'">
                            <a class="page-link" th:if="${lessonsList.hasNext()}"
                               th:href="@{/group-lesson(page=${lessonsList.nextPageable().pageNumber})}">Oldinga</a>
                            <span class="page-link" th:if="!${lessonsList.hasNext()}">Oldinga</span>

                        </li>
                    </ul>
                </nav>
            </div>
        </main>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Darslik qo'shish</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <form method="post"
                              th:object="${addGroupLessonDTO}"
                              th:action="@{/group-lesson}"
                              enctype="multipart/form-data"
                        >
                            <div class="mb-3">
                                <label
                                        for="lessonNumberInput"
                                        class="form-label"
                                >
                                    Darslik raqami
                                </label>
                                <input type="number"
                                       placeholder="Darslik raqami.."
                                       class="form-control"
                                       id="lessonNumberInput"
                                       th:field="*{orderNumber}"
                                >
                            </div>
                            <div class="mb-3">
                                <label
                                        for="sendTimeInput"
                                        class="form-label"
                                >
                                    Darslik yuborilishi kerak bo'lgan vaqt
                                </label>
                                <input type="time"
                                       placeholder="Darslik vaqti..."
                                       class="form-control"
                                       id="sendTimeInput"
                                       th:field="*{sendTime}"
                                >
                            </div>

                            <div class="mb-3">
                                <label
                                        for="dayOfWeekInput"
                                        class="form-label"
                                >
                                    Darslik yuborilishi kerak bo'lgan kun
                                </label>
                                <select id="dayOfWeekInput" th:field="*{sendDay}" class="form-control">
                                    <option value="MONDAY">Dushanba</option>
                                    <option value="TUESDAY">Sheshanba</option>
                                    <option value="WEDNESDAY">Chorshanba</option>
                                    <option value="THURSDAY">Payshanba</option>
                                    <option value="FRIDAY">Juma</option>
                                    <option value="SATURDAY">Shanba</option>
                                    <option value="SUNDAY">Yakshanba</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label
                                        for="fileInput"
                                        class="form-label"
                                >
                                    File
                                </label>
                                <input type="file"
                                       class="form-control"
                                       id="fileInput"
                                       th:field="*{file}"
                                >
                            </div>
                            <div class="mb-3">
                                <label
                                        for="textInput"
                                        class="form-label"
                                >
                                    Text
                                </label>
                                <textarea
                                        rows="8"
                                        class="form-control"
                                        id="textInput"
                                        th:field="*{text}"
                                ></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Qo'shish</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/static/js/group/script.js" th:src="@{/js/group/script.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>